# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/
node_modules
